<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: #007bff;color: white">
    <a class="navbar-brand" href="#" th:href="@{/}" style="color: white">
        Welcome to Student Registration Management System
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                <a class="btn btn-default btn-lg" th:href="@{/index}"> Registered Students</a>
            </li>
            <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                <a class="btn btn-default btn-lg"  th:href="@{/add}"> Add New Student</a>
            </li>
        </ul>
    </div>
</nav>

