<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/dashboard_layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome Page</title>
</head>

<body>
<div class="col" layout:fragment="main-content">
    <div class="jumbotron">
        <div class="container">
            <p class="" style=" color: #007bff">
                <b>Welcome to Student Registration Management System</b>
            </p>
            <hr/>
            <p>
                To do this, using Spring Boot, create a new web application project named, eRegistrar.
                Your solution should make use of the following tools, technologies, frameworks and APIs:
                Spring Web MVC, Thymeleaf for the UI, Spring Data JPA and a relational database such as MySQL.
            </p>
            <p>Lorem lpsum is simplydummy text of teh printing and ..... .... .... </p>

        </div>
    </div>
</div>
</body>
</html>